{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "overrides": [
    {
      "files": "src/routeTree.gen.ts",
      "options": { "parser": "typescript" }
    }
  ]
}
