compartment_ocid = "ocid1.compartment.oc1..xxxxxxxxx"
ssh_public_key   = "ssh-rsa AAAAB3NzaC1yc2E... user@host"
tenancy_ocid     = "ocid1.tenancy.oc1..xxxxxxxxx"
user_ocid        = "ocid1.user.oc1..xxxxxxxxx"
fingerprint      = "12:34:56:78:90:ab:cd:ef:12:34:56:78:90:ab:cd:ef"
private_key_path = "~/.oci/oci_api_key.pem"
region           = "us-ashburn-1"
